* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
#main {
    width: 100vw;
    min-height: 100vh;
    overflow-y: hidden !important;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Nav Top Css */

#nav_top {
    width: 94.2vw;
    height: 12vh;
    padding: 0 4.5vw 0 4vw;
    left: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
}
#nav_top>img {
    height: 50px;
}
#nav_top>button {
    padding: 7px 16px;
    font-family: "druk heavy";
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 24px;
    color: #fff;
    white-space: nowrap;
    background-color: rgb(199, 29, 29);
    border-style: none;
    cursor: pointer;
}

#nav_top>i {
    font-size: 2.5vw;
    display: none;
}
/* Nav Left Css */

#nav_left {
    width: 5vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    align-items: center;
    position: absolute;
    z-index: 1;
    gap: 2vmax;
    border-right: 2px solid rgb(43, 42, 42);
}

/* Bottle Image */

#bottle {
    position: absolute;
    height: 95vh;
    top: 0%;
    left: 38%;
    z-index: 990;
    border-image: 0 0 2vmax black;
}
#bottlecopy {
    display: none;
}

/* Page1 Css */

#page1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#page1 h1 {
    width: 60vw;
    background-color: rgb(153, 13, 13);
    font-family: 'Antom', sans-serif;
    font-size: 13vw;
    font-weight: 900;
    text-align: center;
    word-spacing: -1.5vw;
    text-transform: uppercase;
    line-height: 12vw;
    background-image: url(img/texture.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
}
#page1_dog_image {
    height: 15vh;
    position: absolute;
    top: 17%;
    left: 34.5%;
    transform: rotate(-30deg);
}

/* Page 2 Css */


#page2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.1vw 0 10vw;
}

#page2_part1 {
    width: 25vw;
    height: 79vh;
}
#page2_part1 h3 {
    font-family: dancing script;
    margin-bottom: 12px;
}
#page2_part1 h1 {
    width: 25vw;
    height: 30vh;
    font-size: 7vw;
    line-height: 14vh;
    font-weight: 500;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    margin-bottom: 12px;
    word-spacing: -1vmax;
    background: url(img/texture.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: black;
    -webkit-font-smoothing: antialiased;
}
#page2_part1>p {
    font-family: Gilroy;
    color: #111;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 15px;
}
#page2_part1>button {
    padding: 10px 20px;
    font-family: "druk heavy";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 20px;
    white-space: nowrap;
    background-color: black;
    border-style: none;
    cursor: pointer;
    color: #fff;
}

#page2_part2 {
    width: 26.5vw;
    height: 65vh;
    padding: 3.5vmax 3.5vmax;
    border: 0.2vmax solid black;
    box-shadow: 0 0 0.2vmax black;
    font-family: Gilroy;
}
#page2_part2 h3 {
    font-size: 15px;
    margin-bottom: 3px;
    font-weight: 600;
}
#page2_part2 h5 {
    font-size: 13px;
    margin-bottom: 6px;
    font-weight: 600;
    color: #666;
}


#box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.2vmax solid black;
    margin-bottom: 1vh;
}
#page2_part2 p {
    font-size: 10px;
    width: 12vw;
    color: #111;
    line-height: 13px;
    font-weight: 600;
}

#box h2 {
    font-size: 40px;
    font-family: "druk heavy";
}
#box h2 span {
    font-size: 30px;
}

/* page 3 css */


#page3 {
    width: 100vw;
    height: 110vh;
    padding: 0 5vmax 0 10vmax;
}

#page3 h1 {
    width: 85vw;
    font-size: 18.3vw;
    line-height: 18.5vw;
    font-weight: 500;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    background: url(img/texture.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: rgb(177, 29, 29);
}
#page3_text {
    display: flex;
    justify-content: space-between;
}
#page3_text_part1 a img {
    width: 25vw;
    margin-top: 3vh;
}
#page3_text_part1 h5 {
    width: 23vw;
    font-size: 2vw;
    margin-top: 3vh;
    line-height: 4vh;
    font-family: Gilroy;
}

#page3_text_part2 {
    width: 30vw;
    padding: 1vmax 2vmax;
}
#page3_text_part2 h5 {
    width: 25vw;
    font-size: 1vmax;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
}
#page3_text_part2 h2 {
    margin-top: 2vmax;
    font-family: 'Anton', sans-serif;
    font-size: 1.5vmax;
    font-weight: 100;
    letter-spacing: 0.05vmax;

}
#page3_text_part2 p {
   margin-top: 3vh;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
}

/* Page 4 css */

#page4 {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
}

#page4_color_image1 {
    width: 20vw;
    margin: 0vh 0 0 20vh;
}
#page4_color_image1_text {
    width: 13vw;
    position: absolute;
    top: 5%;
    left: 15%;
    color: #fff;
    text-align: center;
}
#page4_color_image1_text h4 {
    width: 8vw;
    margin-bottom: 1vh;
    margin-left: 3vmax;
    font-family: 'Anton', sans-serif;
    border-bottom: 0.2vmax solid #000;
    font-weight: 100;
    letter-spacing: 0.1vmax;
    text-transform: uppercase;
}



#page4_color_image2 {
    width: 21vw;
    margin: 26vh 0 0 -6vh;
}

#page4_color_image2_text {
    width: 13vw;
    position: absolute;
    top: 32%;
    left: 33%;
    color: #fff;
    text-align: center;
}
#page4_color_image2_text h4 {
    width: 4vw;
    margin-left: 5vmax;
    font-family: 'Anton', sans-serif;
    border-bottom: 0.2vmax solid #000;
    font-weight: 100;
    letter-spacing: 0.1vmax;
    text-align: center;
    text-transform: uppercase;
    
}



#page4_color_image3 {
    width: 25vw;
    margin: 20vh 0 0 40vh;
}
#page4_color_image3_text {
    width: 15vw;
    position: absolute;
    top: 30%;
    left: 74%;
    color: #fff;
    text-align: center;
}
#page4_color_image3_text h4 {
    width: 8vw;
    margin-bottom: 1vh;
    margin-left: 3.5vmax;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    border-bottom: 0.2vmax solid #000;
    font-weight: 100;
    letter-spacing: 0.1vmax;
    text-transform: uppercase;
}

#page4_color_image4 {
    width: 16vw;
    height: 50vh;
    margin: 45vh 0 0 -165vh;
    transform: rotate(-17deg);
}


/* Page 5 css */


#page5 {
    width: 100vw;
    height: 110vh;
    padding: 0 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#page5 h5 {
    font-size: 2.5vmax;
    font-family: Gilroy;
}
#page5 h1 {
    width: 30vw;
    text-transform: uppercase;
    font-family: 'Anton',sans-serif;
    font-weight: 600;
    font-size: 6.5vw;
    background: url(img/texture.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: black;
}



#page5_image_box {
    width: 100vw;
    height: 85vh;
    padding: 0 3vw 0 5vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#page5_bottel {
    width: 15vw;
    height: 60vh;
    justify-content: center;
}
#page5_bottel h4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: Gilroy;
}

#page5_bottel img {
    width: 15vw;
}
#image11 {
    height: 48vh;
}
#image22 {
    transform: rotate(-15deg);
}
#image33 {
    height: 47vh;
    opacity: 0;
    transform: rotate(-15deg);
}
#image44 {
    transform: rotate(-15deg);
}
#image55 {
    transform: rotate(-15deg);
}
#page5_bottel h4 {
    font-family: 'Dosis', sans-serif;
}
#page5_bottel h6 {
    display: flex;
    justify-content: space-around;
    font-family: Gilroy;
    font-size: 1.1vmax;
}


/* Page 6 */

#page6 {
    width: 100vw;
    height: 90vh;
    padding: 0 0vw 0 9vw;
    display: flex;
    gap: 30px;
}
#page6 img {
    width: 50vw;
    height: 62vh;
}

#page5_part2 {
    padding: 0 4vw 0 4vw;
    width: 40vw;
    height: 62vh;
}
#page6_part2 h5 {
    font-size: 2vmax;
    font-family: Gilroy;
}

#page6_part2 h1 {
   margin-top: 3vh;
   width: 30vw;
   font-family: 'Anton', sans-serif;
   font-size: 4vw;
   font-weight: 100;
   line-height: 9.5vh;
   letter-spacing: 0.5vw;
   text-transform: uppercase;
}
#page6_part2 p {
    margin-top: 3vh;
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
    color: #111;
}
#page6_part2>button {
    margin-top: 3vh;
    font-size: 1.2vmax;
    padding: 0.8vmax 1.5vmax;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    color: #fff;
    background-color: #000;
    border-style: none;
    cursor: pointer;
}