* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: montserrat;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    overflow: hidden;
}

#page {
    position: relative;
    height: 100vh;
    width: 100vw;
}

canvas {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 9;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    top: 3%;
    border-radius: 20px;
    height: 10vh;
    width: 30vw;
    background-color: #ffffff54;
    backdrop-filter: blur(10px);
    padding: 0px 5px;
}

#nav>img {
    width: 10%;
}

#nav>button {
    padding: 20px 10px;
    border-radius: 10px;
    border: none;
    background-color: #ffcd6d;
    font-weight: 600;
}

#center-nav>a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

#page>h1 {
    font-size: 80px;
    position: absolute;
    z-index: 99;
    text-align: center;
    top: 38%;
    font-weight: 500;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page>h4 {
    font-size: 30px;
    position: absolute;
    text-align: center;
    top: 60%;
    font-weight: 400;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    color: #565656;
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #E5E1DC;
}

#page1>h1 {
    z-index: 99;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 80px;
    font-weight: 500;
}

#page1>h4 {
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    white-space: nowrap;
    color: #565656;
    z-index: 99;
}

#page2 {
    position: relative;
    /* z-index: 9; */
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

#page3 {
    position: relative;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

#page4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    text-align: center;
    background-color: #dbf54c;
}

#page4>h1 {
    font-weight: 600;
    font-size: 2.7vw;
}

#page4>h4 {
    margin-top: 20px;
    font-weight: 500;
    color: #646464;
    font-size: 1vw;
}

#page5 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #7bf9fd;
}
#center-page5{
    display: flex;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 75%;
    background-color: #F6F3EF;
}
#left-page5{
    height: 100%;
    width: 50%;
}
#left-page5>svg{
    scale:0.7;
}
#right-page5{
    display: flex;
    align-items: start;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 60px;
}
#right-page5>h1{
    font-weight: 600;
}
#right-page5>h4{
    font-weight: 500;
    width: 70%;
    color: #96969685;
}
#right-page5>button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}
#page6{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #df7bfd;
}
.left-page6{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 10vw;
}
.left-page6>h1{
    font-size: 2.8vw;
    font-weight: 600;
}
.left-page6>h4{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
}
.right-page6{
    position: relative;
    height: 100%;
    width: 50%;
}
.right-page6>video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 70%;
}
#page7{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #7e85f085;
}
.left-page7{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 10vw;
}
.left-page7>h1{
    font-size: 2.8vw;
    font-weight: 600;
}
.left-page7>h4{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
}
.right-page7{
    position: relative;
    height: 100%;
    width: 50%;
}
.right-page7>video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 70%;
}
#page8{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #54f35c85;
}
.left-page8{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 10vw;
}
.left-page8>h1{
    font-size: 2.8vw;
    font-weight: 600;
}
.left-page8>h4{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
}
.right-page8{
    position: relative;
    height: 100%;
    width: 50%;
}
.right-page8>img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 70%;
}