@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Oswald", sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.search {
  display: flex;
  width: 50%;
  max-width: 60rem;
}
.search input {
  padding: 0.5rem 1rem;
  width: 100%;
}
.search input:focus-visible {
  outline: 1px solid purple;
}

.primary-btn {
  background: purple;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
}
.primary-btn:hover {
  background: rgba(55, 1, 55, 0.788);
}
.primary-btn:active {
  background: rgba(231, 59, 231, 0.788);
}
#profileContainer {
  width: 100%;
}
.profile-box {
  margin: auto;
  padding: 4rem 2rem;
  width: 90%;
  max-width: 78rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in;
}
.profile-box:hover {
  transform:scale(1.2);
  transition: 0.5s ease-in;
}
.top-section {
  display: flex;
  justify-content: space-between;
}
.top-section button {
  align-self: center;
}
.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.left h1 {
  font-size: 1.6rem;
}

.avatar {
  height: 10rem;
  width: 10rem;
}
.avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.about {
  margin: 2rem;
}

.status {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.status-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}