body{
    margin: 0;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider{
    width: 70vw;
    overflow: auto;
    padding: 100px;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    background-color: #fff3;
    border-radius: 20px;
}
.slider::-webkit-scrollbar{
    width: 0;
}
.slider .form{
    width: max-content;
    --left: 0;
    transform: translateX(var(--left));
}
.title{
    padding: 20px 0;
    color: #fff;
    text-shadow: 0 0 10px #0007;
    font-weight: 500;
    font-size: large;
}
.title button{
    border-radius: 20px;
    border: none;
    font-family: system-ui;
}
.slider .form .item{
    width: 200px;
    height: 300px;
    display: inline-block;
    margin-right: 20px;
    transform: perspective(10px);
    transform-style: preserve-3d;
}
.slider .form .item .content{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: transform .5s;
}
.slider .form .item .content .des{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(10px);
    color: #fff;
    font-family: monospace;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
.slider .form .item .content .des button{
    background-color: #eee;
    border: none;
    border-radius: 10px;
    font-size: small;
}
.slider .form.left .item .content{
    transform: rotateY(-1deg) scale(0.8);
}
.slider .form.right .item .content{
    transform: rotateY(1deg) scale(0.8);
}
.slider .form .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}