*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}

/* Hide radio input elements */
input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Positioning and style for paragraph */
p {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  color: white;
  font-size: 0.8rem;
}

/* Wrapper for circle elements */
.circle-wrapper {
  border: 1px solid #0f3e5d;
  position: relative;
  border-radius: 9999px; /* Fully rounded */
  display: grid;
  width: 450px;
  height: 450px;
  grid-template-areas: "stack";
  place-content: center;
}

/* Label styles inside the circle wrapper */
label {
  grid-area: stack;
  width: 5rem;
  height: 5rem;
  border-radius: 9999px; /* Fully rounded */
  border: 1px solid #738088;
  display: grid;
  place-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  color: #87ceeb;
  font-size: 1.25rem;
  transition-property: all;
  transition-duration: 0.5s;
  cursor: pointer;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2); /* White with 20% opacity */
}

/* Image styles */
img {
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
}

/* SVG styles */
svg {
  transition: all 0.5s ease-in-out;
  position: absolute;
  inset: 0 0 0 -25%;
  margin: auto;
  width: 125px;
  opacity: 0;
  z-index: -10;
}

/* Centered element styles */
.center-element {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 8rem;
  height: 8rem;
  background-color: #1b2c36;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%; /* Circle */
  display: grid;
  place-content: center;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.05em;
  color: #cbd5e0;
  font-size: 1.125rem;
}

/* Before pseudo-element for center-element */
.center-element::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background-color: #0a4368;
  border-radius: 50%;
  z-index: -10;
  transition: all 1s;
}

/* Checked radio input styles */
input:checked + label {
  transform: none !important;
  transition-duration: 1s;
}

/* Image transform on checked */
input:checked + label > img {
  transform: scale(2);
}

/* SVG transform on checked */
input:checked + label > svg {
  opacity: 1;
  transform: scale(2.25) rotate(45deg);
  transition-delay: 700ms, 500ms, 2000ms;
}

/* Avatar transform styles */
.avatar {
  --radius: 14rem;
  --d: calc(var(--i) / var(--total));
  --r-offset: -0.15turn;
  --r-amount: 1turn;
  --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
  transform: rotate(var(--r)) translate(var(--radius)) rotate(calc(-1 * var(--r)));
} 