@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 13px;
    --color: #eee;
    color: var(--color);
    background-color: #23282E;
}
a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
::-webkit-scrollbar{
    width: 0;
}
header{
    width: 100%;
    position: fixed;
    z-index: 100;
    text-align: center;
    padding-top: 10px;
}
header nav a{
    margin: 0 30px;
    color: var(--color);
    font-size: small;
}

.tab{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(images/bg.png);
    background-size: 50%;
}
.tab .container{
    width: 1140px;
    max-width: 100%;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
}
#intro{
    background-color: #16222D;
}
#intro .avatar{
    text-align: right;
    height: 100%;
}
#intro .avatar img{
    height: 100%;
    filter: saturate(0.5);
}
#intro .content{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    width: 500px;
    max-width: 80%;
}
#intro .content .name,
#intro .content .job{
    font-size: 6em;
    font-weight: bold;
    font-family: 'Righteous', sans-serif;
    line-height: 1em;
}
.text-gradient{
    background-image: linear-gradient(
        to right, #E4454A, #CA3EA7
    );
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#intro .content .des{
    margin-top: 1.2em;
    width: 70%;
}
#intro .content .des a{
    margin-top: 1.2em;
}
#intro .content i{
    font-size: 10em;
    position: absolute;
    top: -50px;
    right: -50px;
    color: #293b4c;
}

/* skills */
#skill{
    background-color: #F2F0EB;
    color: #eee;
    background-image: linear-gradient(
        45deg, #3A2530, #171514, #412726
    );
    background-size: cover;
}
#skill .list{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    box-sizing: border-box;
    gap: 0px;
}

#skill .list .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#skill .list .item:nth-child(odd){
    background-color: #3F2525;
}
#skill .list .item i{
    width: 50px;
    height: 50px;
    background-color: #eee;
    color: #CA3EA7;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 10px 10px #0005;
}
#skill .list .item .name{
    font-size: 1.5em;
    margin-top: 0.7em;
}
#skill .list .item .des{
    font-size: small;
    opacity: 0.8;
}

/* project */
#project{
    background-color: #cfbaba;
    color: #444B57;
}
#project .list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;
}
#project .list .item img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
#project .list .item{
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}
#project .list .item .index{
    background-color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    transform: translateY(-100%);
    padding: 10px;
    font-style: italic;
    border-top-right-radius: 20px;
}
#project .list .item .name{
    font-weight: bold;
    font-size: large;
    padding: 10px;
}
#project .list .item .des{
    padding: 0 10px 10px 10px;
}
#project .list .item .author{
    padding: 10px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}
#project .list .item .job{
    font-weight: bold;
}
#project .container{
    overflow: auto;
}
/* experience */
#experience{
    background-image: linear-gradient(
        45deg, #212632, #242A34, #3C4C5A
    );
    background-size: cover;
}
#experience .list{
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    gap: 20px;
    position: relative;
    z-index: 1;
}
#experience .list .item{
    display: grid;
    grid-template-rows: 1fr 50px 1fr;
    gap: 20px;
    width: 200px;
    flex-shrink: 0;
}
#experience .list .item i{
    background-color: #444B57;
    width: 50px;
    color: #16222D;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#experience .list .item .time{
    display: flex;
    align-items: end;
    font-size: large;
}
#experience .list .item .content .job{
    font-size: large;
}
#experience .list .item .content .company{
    color: #E4454A;
}
#experience .list .item .content .des{
    font-size: 0.8em;
    opacity: 0.7;
}
#experience .list .item:nth-child(odd) .content{
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#experience .list .item:nth-child(odd) .time{
    grid-row-start: 3;
    grid-row-end: 4;
    align-items: start;
}
#experience .list::before{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #444B57;
    content: '';
    z-index: -1;
}
#experience .container{
    overflow: auto;
    padding: 50px;
}

#contact{
    background: #242330;
}
#contact .content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact .thank{
    font-size: 5em;
    font-weight: bold;
    display: block;
}
#contact .des{
    width: 500px;
    max-width: 80%;
    text-align: center;
}
#contact .list{
    text-align: center;
}
#contact .list .item{
    display: inline-block;
    margin: 10px 30px;
}


@media screen and (max-width: 991px){
    /* ipad, tablets */
    #intro .avatar img{
        transform: translateX(200px);
    }

}
@media screen and (max-width: 767px){
    body{
        font-size: 10px;
    }
    header nav a{
        margin: 10px;
    }
    #intro .avatar img{
        transform: none;
    }
    #intro .content{
        left: 20px;
    }
    #intro .content .name{
        font-size: 4em;
    }
    #intro .content i{
        position: unset;
    }
    #skill .list{
        padding: 0px;
        grid-template-columns: repeat(2, 1fr);
    }
    #skill .list .item:nth-child(odd){
        background: unset;
    }
    #skill .list .item:nth-child(2),
    #skill .list .item:nth-child(3n){
        background: #3F2525;
    }
    #project .list{
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    #project .list .item img{
        height: 100px;
    }
}

/* effect */
.tab{
    position: fixed;
    inset: 0 0 0 0;
    z-index: 1;
}
#intro{
    z-index: 2;
}

.tab.active{
    --x: 50%;
    --y: 50%;
    clip-path: circle(
        200% at var(--x) var(--y)
    );
    animation: showTab 1s ease-in-out 1;
}
@keyframes showTab{
    from{
        clip-path: circle(
            0% at var(--x) var(--y)
        );
    }
}